html,
body {
  height: 100%; 
  margin: 0;
}

body {
  display: flex;
  flex-direction: column; 
}

main {
  flex: 1; 
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
footer .social_icon,
footer .copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-left: 0;
}
footer .social_icon li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

/* header styleing */
header {
    flex: 0 0 auto;
    width: 100%;
  } 
.navbar-logo {
   padding: 10px;
    color: #fff;
  }
  .navbar-mainbg {
    width: 100%;
    background-color: #3586ff;
    padding: 0px;
  }
  #navbarSupportedContent {
    overflow: hidden;
    position: relative;
  }
  #navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
  }
  #navbarSupportedContent ul li a i {
    margin-right: 10px;
  }
  #navbarSupportedContent li {
    list-style-type: none;
    float: left;
  }
  #navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
  }
  #navbarSupportedContent ul li a:hover{
    transform: scale(1.1);
    color: white;
  }
  #navbarSupportedContent > ul > li.active > a {
    color: #3586ff;
    background-color: transparent;
    transition: all 0.7s;
  }
  #navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
  }
  #navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
  }

  @media (max-width: 767px) {
    .navbar-expand-custom {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
      display: none;
    }
    .navbar-expand-custom .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    #navbarSupportedContent ul li a{
      padding: 10px 10px;
    }
    .bi-pencil{
      margin-right: 5px !important;
    }
    footer .social_icon li a:hover {
      color: blue;
      transform: scale(1.1);
    }
    .icon-button {
      padding: 4px;
    }
    .icon-button i {
      font-size: 2rem;
    }    
  }

  /* create-post styleing */
  .create-post-title {
    text-align: center;
    margin-top: 20px;
  }
  .post-text {
    text-align: center;
    margin-top: 5px;
    height: 100%;
  }
  #input-box {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  #input-box::placeholder {
    color: gray;
    text-align: center;
  }
   .button-div{
    width: 85%;
    text-align: right;
  } 
  .submit-button {
    position: relative;
    border: none;
    outline: none;
    background-color: #3586ff;
    border-radius: 10px;
    margin-top: 5px;
    padding: 7px 20px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .submit-button:hover{
    transform: scale(1.1);
  }
  .post-title{
    width: 100%;
    text-align: center;
  }
  #post-title{
    width: 70%;
    border-radius: 10px;
    margin-top: 25px;
    border: 2px solid #ccc;
  }
  #post-title::placeholder{
    text-align: center;
  }
  h1{
    text-align: center;
  }
  .centerd-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2{
    margin-bottom: 20px;
  }
  .Post{
    width: 100%;
    max-width: 540px;
    margin: 10px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .icon-container{
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
  }
  .bi-pencil{
    margin-right: 10px;
  }
  i{
    cursor: pointer;
  }
  .icon-button {
    z-index: 2;
    border: none;
    background: none;
    cursor: pointer;
  }
  .icon-button i {  
    font-size: 1.5rem; 
    color: #333; 
  }